.RogueFooter
	font-size: 10px
	line-height: 100%
	margin-top: 0
	margin-bottom: 0
	padding-top: 0
	padding-bottom: 0

.RoguePager
	margin-top: 67px
	padding-top: 0px

@import '~vuetify/src/stylus/app'
